$almost-white: #f9f9f9;
$light-gray: #bbb;
$dark-gray: #333;
$linkedin-blue: #0077b5;
$blue-hover: #0077b5;

// Light mode colors
$bg-color-light: #ffffff;
$text-color-light: #000000;
$icon-color-light: #1da1f2;
$link-color-light: #555;

// Dark mode colors
$bg-color-dark: #121212;
$text-color-dark: #ffffff;
$icon-color-dark: #4fc3f7;
$link-color-dark: #555;
